<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="/" class="app-brand-link">
      <span class="app-brand-text demo menu-text fw-bold ms-2">Sky Web</span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="icon-base bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>
  <div class="menu-inner-shadow"></div>
  <ul class="menu-inner py-1">
    <li class="menu-item">
      <a href="/" class="menu-link">
        <i class="menu-icon icon-base bx bx-home-smile"></i>
        <div>Dashboard</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/leads" class="menu-link">
        <i class="menu-icon icon-base bx bx-target-lock"></i>
        <div>Leads</div>
      </a>
    </li>
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Gestion Comercial</span>
    </li>
    <li class="menu-item">
      <a href="/llamadas" class="menu-link">
        <i class="menu-icon icon-base bx bx-phone-call"></i>
        <div>Llamadas</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/seguimiento" class="menu-link">
        <i class="menu-icon icon-base bx bx-revision"></i>
        <div>Seguimiento</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/customers" class="menu-link">
        <i class="menu-icon icon-base bx bx-briefcase"></i>
        <div>Pipeline</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/calendar" class="menu-link">
        <i class="menu-icon icon-base bx bx-calendar"></i>
        <div>Calendario</div>
      </a>
    </li>
    <% if (typeof currentUser !== 'undefined' && currentUser && currentUser.role === 'admin') { %>
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Admin</span>
    </li>
    <li class="menu-item">
      <a href="/tasks" class="menu-link">
        <i class="menu-icon icon-base bx bx-task"></i>
        <div>Tareas</div>
      </a>
    </li>
    <% } %>
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Cuenta</span>
    </li>
    <li class="menu-item">
      <a href="/logout" class="menu-link">
        <i class="menu-icon icon-base bx bx-power-off"></i>
        <div>Cerrar Sesion</div>
      </a>
    </li>
  </ul>
</aside>
